<h1>Uren</h1>
<p>Urenregistratie pagina, klik op een module om de gewenste actie uit te voeren. </p>

<div>
    <div style="display: flex; justify-content: space-evenly; flex-wrap: wrap;">
        <a href="/hour-register"> 
            <button class="btn btn-secondary" style="width: 140px; height: 140px; margin: 10px;">
                <i class="icon-pencil" style="font-size: 50px;"></i>
                <p>Uren registreren</p>
            </button>
        </a>
        <a href="/hour-register-automatic"> 
            <button class="btn btn-secondary" style="width: 140px; height: 140px; margin: 10px;">
                <i class="icon-time" style="font-size: 50px;"></i>
                <p>Automatisch uren registreren</p>
            </button>
        </a>
        <a href="/hour-overview"> 
            <button class="btn btn-secondary" style="width: 140px; height: 140px; margin: 10px; ">
                <i class="icon-file-text-alt" style="font-size: 50px;"></i>
                <p>Uren bekijken</p>
            </button>
        </a>
    </div>
</div>