.container-overview {
    display: flex;
    margin: 0 auto;
    -o-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.container-filter {
    display: flex;
}
.container-action {
    display: flex;
}
.container-details {
    display: flex;
    margin: 10px 0;
    -o-justify-content: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.dropdown {
    margin: 0 5px;
}
.red {
    color: red;
}

.text-18 {
    font-size: 18px;
}

.pointer {
    cursor: pointer;
}

.hover {
    padding: 8px;
    border-radius: 25px;
}

.hover:hover {
    background-color: lightgray;
    color: darkred !important;
}