@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <p>
                Weet je zeker dat je wilt uitloggen? 
            </p>
            <div style="display: flex;">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button type="submit" class="btn btn-primary">Uitloggen</button> 
                </form>
                <a href="/">
                    <button class="btn btn-primary" style="margin-left: 100px;">Terug</button>
                </a>
            </div>
        }
        else
        {
            <p>Je bent succesvol uitgelogd.</p>
            <p><a href="/">Klik hier</a> om terug te gaan.</p>
        }
    }
</header>