@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Je wachtwoord is gewijzigd. <a asp-page="./Login">Klik hier om opnieuw in te loggen</a>.
</p>
