@using WebUI.Services
@using Application.Common.Viewmodels
@inherits LayoutComponentBase
@inject SessionService _sessionService


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a>@_sessionInfo.UserName</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    private SessionVm _sessionInfo;

    protected override Task OnInitializedAsync()
    {
        _sessionInfo = _sessionService.GetSessionInfo();

        return Task.FromResult(new SessionVm
        {
            UserName =  "Daffie test"
        });
    }
}
