<div class="dropdown">
    <button class="dropdown-button dropdown-toggle form-control" @onclick="Open">Selecteer @Placeholder</button>
    <div class="dropdown-menu @(show ? "show" : "")" tabindex="-1">
        <div class="scrollable-dropdown-filter">
            <table>
                <tr>
                    @foreach (var item in FilterValues){
                        <div>
                            @if(FilterOption.SelectedValues.Any(s => s == item)){
                                <input type="checkbox" style="margin-right: 5px;" @oninput="(e) => OnValueSelected(e, item)" checked/>
                            }
                            else{
                                <input type="checkbox" style="margin-right: 5px;" @oninput="(e) => OnValueSelected(e, item)" />
                            }
                            @item
                        </div>
                    }
                </tr>
            </table>
        </div>
    </div>
</div>