@*<div class="dropdown">
    <input class="dropdown-button dropdown-toggle form-control" placeholder="@Placeholder" @onclick=Open @oninput=FilterOnValue value="@SelectedFilterValue"></input>
    <div class="dropdown-menu @(show ? "show" : "")" tabindex="-1">
        <div class="scrollable-menu">
            <table>
                @foreach (var item in dropdownList) {
                    <tr><a class="dropdown-item" style="cursor: pointer" @onclick="() => OnValueSelected(item)"> @item.Value </a></tr>
                }
            </table>
        </div>
    </div>
</div>
*@