@page "/uren/toevoegen"

@using WebUI.Services
@using WebUI.Dtos
@using Application.Common.Viewmodels
@inject NavigationManager UriHelper
@inject WorkHourService WorkHourService
@inject CustomerService CustomerService

<h1>Uren toevoegen</h1>
<div class="form-group container-overview">
    <EditForm Model="@_workHour" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="container-input">
            <label>Klant:</label>
            <InputSelect @bind-Value="_workHour.CustomerId" class="form-control">
                @if (_customers != null)
                {
                    @foreach (var customer in _customers.Customers)
                    {
                        <option value="@customer.Id">@customer.Name</option>
                    }
                }
            </InputSelect>

            <div class="container-dates">

                <div class="container-group">
                    <label>Datum:</label>
                    <InputDate id="date" @bind-Value="_workHour.Date"/>
                </div>

                <div class="container-group">
                    <label>Starttijd:</label>
                    <InputText type="time" @bind-Value="StartTime" @bind-Value:format="HH:mm"/>
                </div>

                <div class="container-group">
                    <label>Eindtijd:</label>
                    <InputText type="time" @bind-Value="EndTime" @bind-Value:format="HH:mm"/>
                </div>

            </div>

            <label>Pauze in minuten:</label>
            <InputNumber @bind-Value="_workHour.RecreationInMinutes"/>
            
            <label>Omschrijving:</label>
            <InputTextArea @bind-Value="_workHour.Description"/>
        </div>

        <div class="container-action">
            <button class="btn btn-primary" type="submit">Opslaan</button>
        </div>
    </EditForm>
</div>

<br />

@code {
    private WorkHourDto _workHour = new()
    {
        Date = DateTime.Today
    };

    private CustomerListVm _customers = new();
    public string StartTime = DateTime.Now.AddHours(-8).TimeOfDay.ToString();
    public string EndTime = DateTime.Now.TimeOfDay.ToString();

    private void HandleValidSubmit()
    {
        _workHour.StartTime = DateTime.Parse(StartTime).TimeOfDay;
        _workHour.EndTime = DateTime.Parse(EndTime).TimeOfDay;
        WorkHourService.AddWorkHour(_workHour);
        UriHelper.NavigateTo("uren");
    }

    protected override async Task OnInitializedAsync()
    {
        _customers = await CustomerService.GetCustomers();
    }
}