@using WebUI.Services
@using Application.Common.Viewmodels
@inherits LayoutComponentBase
@inject SessionService SessionService


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a>@sessionInfo.UserName</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    private SessionVm sessionInfo;

    protected override Task OnInitializedAsync()
    {
        sessionInfo = SessionService.GetSessionInfo();

        return null;
    }
}
