@page "/items/toevoegen"

@using WebUI.Services
@using WebUI.ViewModels
@inject NavigationManager UriHelper
@inject ItemService ItemService

<h1>Producten/diensten toevoegen</h1>
<div class="form-group">
    <EditForm Model="@_item" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <label>Naam:</label>
        <InputText class="form-control" id="name" @bind-Value="_item.Name" />

        <label>Eenheid:</label>
        <InputText class="form-control" id="place" @bind-Value="_item.Unit" />
        
        <label>Prijs:</label>
        <InputNumber class="form-control" id="email" @bind-Value="_item.Price" />

        <button class="btn btn-primary" type="submit">Opslaan</button>
    </EditForm>
</div>

@code {
    private ItemVm _item = new();

    private void HandleValidSubmit()
    {
        ItemService.AddItem(_item);
        UriHelper.NavigateTo("items");
    }
}