<AuthorizeView>
    <Authorized>
    <a href="Identity/Account/Manage">@context.User.Identity.Name</a>
        <a href="Identity/Account/Logout">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </a>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
