@page "/"

<h1>Wegister</h1>
<p>
    Dé applicatie om uren te registreren <a href="Identity/Account/Login">Klik hier</a> om in te loggen.
</p>
<p>
    Heb je nog geen account, neem dan contact op met de beheerder.
</p>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
