@page "/klanten/toevoegen"

@using WebUI.Services
@using Application.Common.Viewmodels
@inject NavigationManager UriHelper
@inject CustomerService CustomerService

<h1>Klant toevoegen</h1>
<div class="form-group container-overview">
    <EditForm Model="@customer" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="container-input">
            <label>Naam:</label>
            <InputText class="form-control" id="name" @bind-Value="customer.Name" />

            <label>Woonplaats:</label>
            <InputText class="form-control" id="place" @bind-Value="customer.Place" />
            
            <label>Email:</label>
            <InputText class="form-control" id="email" @bind-Value="customer.Email" />

            <label>Administratie Email:</label>
            <InputText class="form-control" id="email" @bind-Value="customer.EmailToSendHoursTo" />
        </div>
        
        <div class="container-action">
            <button class="btn btn-primary" type="submit">Opslaan</button>
        </div>
    </EditForm>
</div>

@code {
    private CustomerVm customer = new();

    private void HandleValidSubmit()
    {
        CustomerService.AddCustomer(customer);
        UriHelper.NavigateTo("klanten");
    }
}