@page "/klanten/toevoegen"

@using WebUI.Services
@using Application.Common.Viewmodels
@inject NavigationManager _uriHelper
@inject CustomerService _customerService

<h1>Klant toevoegen</h1>
<div class="form-group container-overview">
    <EditForm Model="@_customer" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="container-input">
            <label>Naam:</label>
            <InputText class="form-control" id="name" @bind-Value="_customer.Name" />

            <label>Woonplaats:</label>
            <InputText class="form-control" id="place" @bind-Value="_customer.Place" />
            
            <label>Email:</label>
            <InputText class="form-control" id="email" @bind-Value="_customer.Email" />

            <label>Administratie Email:</label>
            <InputText class="form-control" id="email" @bind-Value="_customer.EmailToSendHoursTo" />
        </div>
        
        <div class="container-action">
            <button class="btn btn-primary" type="submit">Opslaan</button>
        </div>
    </EditForm>
</div>

@code {
    private CustomerVm _customer = new();

    private void HandleValidSubmit()
    {
        _customerService.AddCustomer(_customer);
        _uriHelper.NavigateTo("klanten");
    }
}