@page "/klanten"

@using WebUI.Services
@using Application.Common.Viewmodels
@inject CustomerService CustomerService
@inject NavigationManager UriHelper

<h1>Klantenoverzicht</h1>

<p>Het onderstaande overzicht is een lijst met de geregistreerde klanten</p>

<div class="container-overview">
    <div class="container-filter">
    </div>
    <div class="container-action">
        <button class="btn btn-primary" @onclick=@Navigate>Klant toevoegen</button>
    </div>
</div>

@if (customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Woonplaats</th>
                <th>Email</th>
                <th>Administratie email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in customers.Customers)
            {
                <tr>
                    <td>@customer.Name</td>
                    <td>@customer.Place</td>
                    <td>@customer.Email</td>
                    <td>@customer.EmailToSendHoursTo</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private CustomerListVm customers;

    protected override async Task OnInitializedAsync()
    {
        customers = await CustomerService.GetCustomers();
    }

    void Navigate()
    {
        UriHelper.NavigateTo("klanten/toevoegen");
    }
}